/* Responsive Break Point */

/* For Desktop */
@media (min-width: 1024px) {
}
/* For Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}
/* For Mobile */
@media (max-width: 739px) {
  .header-bar-nav {
    display: none;
  }
  .header-bar-btn {
    font-size: 1.5rem;
    text-align: right;
  }
  .content-img {
    display: none;
  }
  .content-details {
    width: 100%;
  }
  .banner-body .banner-title {
    font-size: 2rem;
    margin: 0 auto;
    bottom: 0.5rem;
    left: 0;
    right: 0;
  }
  #content-menu {
    display: block;
  }
  .content-memu-responsive {
    width: 100%;
  }
  .contact-body .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .btn-mobile-responsive {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    border: none;
    background-color: #fff;
  }
  .btn-mobile-responsive i {
    font-size: 2.5rem;
  }
  .mobile-menu-dropdown {
    display: none;
    background-color: rgb(255, 255, 255);
    padding: 10px 16px;
    position: absolute;
    right: 0;
    left: 0;
    top: 62px;
    flex-direction: column;
    box-shadow: 5px 9px 10px -4px #000;
    border-top: 1px solid #ccc;
  }
  .open {
    display: flex;
  }
}
